VS01971v002-FNS002/4.0.2/zags-osebdet-ru-root.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by lic@gnivc.ru (AO GNIVC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://x-artefacts-zags-osebdet/root/112-57/4.0.2" xmlns:fnst="urn://x-artefacts-zags-osebdet/types/4.0.2" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:ns1="urn://x-artefacts-zags-osebdet/root/112-57/4.0.2" targetNamespace="urn://x-artefacts-zags-osebdet/root/112-57/4.0.2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn://x-artefacts-zags-osebdet/types/4.0.2" schemaLocation="./commons/zags-osebdet-types.xsd"/>
	<xs:element name="OSEBDETRequest">
		<xs:annotation>
			<!---************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="Проверка присутствия (отсутствия) элемента МуниципРайон в зависимости от значения элемента Регион">
					<sch:rule context="*[local-name()='АдрМО']">
						<sch:assert test="usch:iif(*[local-name()='Регион']!=99, count(*[local-name()='МуниципРайон'])!=0, count(*[local-name()='МуниципРайон'])!=0 or count(*[local-name()='МуниципРайон'])=0)">
							<usch:error code="0400300003" path="count(МуниципРайон)" value-of-select="*[local-name()='Регион']">Не выполнено условие присутствия (отсутствия) элемента МуниципРайон при значении элемента Регион, равном "<usch:value-of select="*[local-name()='Регион']"/>" </usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---*************************************************************************************************************************************************************-->
			<xs:documentation>Запрос на предоставление сведений, содержащихся в ЕГР ЗАГС, составленных в отношении лица или каждого из его детей, не достигших совершеннолетия, в рамках работы сервиса на ЕПГУ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СведЗапр">
					<xs:annotation>
						<xs:documentation>Сведения, содержащиеся в запросе</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвРебЗапр" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Сведения о ребенке, в отношении которого осуществлен запрос</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="fnst:ФИОПрТип">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="ДатаРожд" type="xs:date">
												<xs:annotation>
													<xs:documentation>Дата рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="МесГодРожд" type="xs:gYearMonth">
												<xs:annotation>
													<xs:documentation>Месяц и год рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ГодРожд" type="xs:gYear">
												<xs:annotation>
													<xs:documentation>Год рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнФЛТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о документе, удостоверяющем личность </xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СведСвидетРожд" type="fnst:СведСвидетБезТип">
											<xs:annotation>
												<xs:documentation>Сведения Свидетельства о рождении лица, в отношении которого осуществлен запрос</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СведСвидетОтцов" type="fnst:СведСвидетБезТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о Свидетельстве об установлении отцовства</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СведАГС" type="fnst:СведАГСТип" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения о государственной регистрации АГС, в отношении которого сформирован запрос</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="ПрМестоРожд">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о месте рождения</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="МестоРожд" type="fnst:string-1024">
												<xs:annotation>
													<xs:documentation>Место рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
									</xs:sequence>
									<xs:attribute name="СНИЛС" type="fnst:СНИЛСТип" use="optional">
										<xs:annotation>
											<xs:documentation>СНИЛС</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="СвЛицЗаяв" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Сведения о лице, направившем запрос</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="fnst:ФИОПрТип">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="ДатаРожд" type="xs:date">
												<xs:annotation>
													<xs:documentation>Дата рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="МесГодРожд" type="xs:gYearMonth">
												<xs:annotation>
													<xs:documentation>Месяц и год рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ГодРожд" type="xs:gYear">
												<xs:annotation>
													<xs:documentation>Год рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнФЛТип">
											<xs:annotation>
												<xs:documentation>Сведения о документе, удостоверяющем личность </xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="ПрАдрМЖ">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений об адресе места жительства</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="АдрМЖ" type="fnst:АдрМЖТип">
												<xs:annotation>
													<xs:documentation>Адрес места жительства</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element name="СведАГС" type="fnst:СведАГСТип" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения о государственной регистрации АГС, в отношении которого сформирован запрос</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="ПрМестоРожд">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о месте рождения</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="МестоРожд" type="fnst:string-1024">
												<xs:annotation>
													<xs:documentation>Место рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
									</xs:sequence>
									<xs:attribute name="ТипСвед" use="required">
										<xs:annotation>
											<xs:documentation>Тип передаваемых сведений</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="fnst:string-1">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СНИЛС" type="fnst:СНИЛСТип" use="required">
										<xs:annotation>
											<xs:documentation>СНИЛС</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ПрСвОтнош" use="required">
							<xs:annotation>
								<xs:documentation>Признак, в отношении кого запрашивают сведения</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="fnst:string-1">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ПерЗапСв" use="required">
							<xs:annotation>
								<xs:documentation>Период запрашиваемых сведений</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="fnst:string-1">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдЗапрос" type="fnst:ИдЗапросТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, сформированный запрашивающей стороной</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ИдЕСИА" type="fnst:string-36" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор ЕСИА</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ДатаЗапр" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation>Дата формирования запроса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ТипЗапрос" use="required">
				<xs:annotation>
					<xs:documentation>Тип запроса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="fnst:string-1">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="OSEBDETResponse">
		<xs:annotation>
			<xs:documentation>Ответ на запрос, содержащий сведения, найденные в ЕГР ЗАГС о запрашиваемом лице или каждом из его детей, не достигших совершеннолетия, в рамках работы сервиса на ЕПГУ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СведЕГР" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Сведения, найденные в ЕГР ЗАГС о запрашиваемом лице или каждом из его детей, не достигших совершеннолетия, в рамках работы сервиса на ЕПГУ</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвЛицЗапр">
								<xs:annotation>
									<xs:documentation>Сведения о лице, в отношении которого осуществлен запрос</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="fnst:ФИОПрТип">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество родителя</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="ДатаРожд" type="xs:date">
												<xs:annotation>
													<xs:documentation>Дата рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="МесГодРожд" type="xs:gYearMonth">
												<xs:annotation>
													<xs:documentation>Месяц и год рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ГодРожд" type="xs:gYear">
												<xs:annotation>
													<xs:documentation>Год рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:choice>
								<xs:element name="ПрУвед">
									<xs:annotation>
										<xs:documentation>Признак отсутствия уведомления о прекращении, отклонении, изменении</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="fnst:string-1">
											<xs:enumeration value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="УведПрек">
									<xs:annotation>
										<xs:documentation>Уведомление о прекращении предоставления сведений о государственной регистрации актов гражданского состояния</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="fnst:string-1">
											<xs:enumeration value="1"/>
											<xs:enumeration value="2"/>
											<xs:enumeration value="3"/>
											<xs:enumeration value="4"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="УведОткл" type="fnst:string-500">
									<xs:annotation>
										<xs:documentation>Уведомление об отклонении запроса на предоставление сведений о государственной регистрации актов гражданского состояния</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="УведИзм" type="fnst:string-500">
									<xs:annotation>
										<xs:documentation>Уведомление об изменении критериев запроса сведений</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="СвАкт">
									<xs:annotation>
										<xs:documentation>Сведения об актах гражданского состояния</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="СведРегРожд" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Сведения о государственной регистрации рождения</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:choice>
															<xs:element name="ДатаЗаписДок" type="fnst:ДатаДокТип">
																<xs:annotation>
																	<xs:documentation>Дата регистрации записи по представленным документам (неполная дата)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ДатаЗапис" type="xs:date">
																<xs:annotation>
																	<xs:documentation>Дата составления записи акта о рождении</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:choice>
														<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
															<xs:annotation>
																<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация рождения ребенка</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СостСтатЗаписи" type="fnst:СостСтатЗапТип">
															<xs:annotation>
																<xs:documentation>Сведения о состоянии и статусе записи акта о рождении</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СвидетРожд" type="fnst:СведСвидетТип" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Сведения о выданном Свидетельстве о рождении</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ПрдСведРегРожд">
															<xs:annotation>
																<xs:documentation>Передаваемые сведения о государственной регистрации рождения</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="СведСчетРебен" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Сведения о том, которым по счету ребенок был рожден у матери</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:choice>
																				<xs:element name="ПрСчетРебен">
																					<xs:annotation>
																						<xs:documentation>Признак отсутствия сведений о том, которым по счету ребенок был рожден у матери</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="fnst:string-1">
																							<xs:enumeration value="1"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="СчетРебен" type="fnst:number-2">
																					<xs:annotation>
																						<xs:documentation>Которым по счету ребенок был рожден у матери</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:choice>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="СведРоды" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation>Сведения о родах, в результате которых родился ребенок</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:choice>
																					<xs:element name="ПрПризнакРодов">
																						<xs:annotation>
																							<xs:documentation>Признак отсутствия сведений о признаке родов</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="1"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="ПризнакРодов">
																						<xs:annotation>
																							<xs:documentation>Признак родов, при которых родился ребенок</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="1"/>
																								<xs:enumeration value="2"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																				</xs:choice>
																				<xs:element name="СведМногоплРоды" minOccurs="0">
																					<xs:annotation>
																						<xs:documentation>Сведения о многоплодных родах</xs:documentation>
																					</xs:annotation>
																					<xs:complexType>
																						<xs:sequence>
																							<xs:choice>
																								<xs:element name="ПрЧислоРодДетей">
																									<xs:annotation>
																										<xs:documentation>Признак отсутствия сведений о числе родившихся детей при многоплодных родах</xs:documentation>
																									</xs:annotation>
																									<xs:simpleType>
																										<xs:restriction base="fnst:string-1">
																											<xs:enumeration value="1"/>
																										</xs:restriction>
																									</xs:simpleType>
																								</xs:element>
																								<xs:element name="ЧислоРодДетей" type="fnst:number-2">
																									<xs:annotation>
																										<xs:documentation>Число родившихся детей при многоплодных родах</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																							</xs:choice>
																							<xs:choice>
																								<xs:element name="ПрСчет">
																									<xs:annotation>
																										<xs:documentation>Признак отсутствия сведений о том, которым по счету был рожден ребенок при многоплодных родах</xs:documentation>
																									</xs:annotation>
																									<xs:simpleType>
																										<xs:restriction base="fnst:string-1">
																											<xs:enumeration value="1"/>
																										</xs:restriction>
																									</xs:simpleType>
																								</xs:element>
																								<xs:element name="Счет" type="fnst:number-2">
																									<xs:annotation>
																										<xs:documentation>Которым по счету был рожден ребенок при многоплодных родах</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																							</xs:choice>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="СведРодившемся">
																		<xs:annotation>
																			<xs:documentation>Сведения о родившемся</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:choice>
																					<xs:element name="ПрЖивМертв">
																						<xs:annotation>
																							<xs:documentation>Признак отсутствия сведений о рождении ребенка живым (мертвым)</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="1"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="ЖивМертв">
																						<xs:annotation>
																							<xs:documentation>Живорожденный, мертворожденный</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="0"/>
																								<xs:enumeration value="1"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																				</xs:choice>
																				<xs:choice>
																					<xs:element name="ПрПол">
																						<xs:annotation>
																							<xs:documentation>Признак отсутствия сведений о половой принадлежности ребенка</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="1"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="Пол">
																						<xs:annotation>
																							<xs:documentation>Пол</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="1"/>
																								<xs:enumeration value="2"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																				</xs:choice>
																				<xs:element name="ФИОРожд" type="fnst:ФИОПрТип">
																					<xs:annotation>
																						<xs:documentation>Фамилия, имя, отчество рожденного ребенка</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:choice>
																					<xs:element name="ПрДатаРожд">
																						<xs:annotation>
																							<xs:documentation>Признак отсутствия сведений о дате рождения ребенка</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="1"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="ДатаРождКаленд" type="xs:date">
																						<xs:annotation>
																							<xs:documentation>Дата рождения (календарная дата)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="ДатаРождДок" type="fnst:ДатаДокТип">
																						<xs:annotation>
																							<xs:documentation>Дата рождения по представленным документам (неполная дата)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:choice>
																				<xs:choice>
																					<xs:element name="ПрМестоРожден">
																						<xs:annotation>
																							<xs:documentation>Признак отсутствия сведений о месте рождения</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="1"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="МестоРожден" type="fnst:МестоТип">
																						<xs:annotation>
																							<xs:documentation>Место рождения</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:choice>
																			</xs:sequence>
																			<xs:attribute name="СНИЛС" type="fnst:СНИЛСТип" use="optional">
																				<xs:annotation>
																					<xs:documentation>СНИЛС</xs:documentation>
																				</xs:annotation>
																			</xs:attribute>
																		</xs:complexType>
																	</xs:element>
																	<xs:choice>
																		<xs:element name="ПрМать">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о матери</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="СведМать" type="fnst:СведРодитТип">
																			<xs:annotation>
																				<xs:documentation>Сведения о матери</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрОтец">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений об отце</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="СведОтец" type="fnst:СведРодитТип">
																			<xs:annotation>
																				<xs:documentation>Сведения об отце</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрСведДокРод">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о документе, подтверждающем факт рождения ребенка</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="СведДокРод" type="fnst:СведДокТип">
																			<xs:annotation>
																				<xs:documentation>Сведения о документе, подтверждающем факт рождения ребенка</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрСведДокОснОтец">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о документе, на основании которого указаны сведения об отце</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="СведДокОснОтец" type="fnst:СведДокОснТип">
																			<xs:annotation>
																				<xs:documentation>Сведения о документе, на основании которого указаны сведения об отце</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="СведИспрАГС" type="fnst:СведИзмАГСТип" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Сведения о внесенных исправлениях и изменениях в запись акта о рождении</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СведВосстанАГС" type="fnst:СведИзмАГСТип" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения о восстановлении записи акта о рождении</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СведАннулирАГС" type="fnst:СведИзмАГСТип" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения об аннулировании записи акта о рождении</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="НомерЗапис" type="fnst:string-22" use="required">
														<xs:annotation>
															<xs:documentation>Номер записи акта о рождении</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="НомерВерс" type="fnst:string-1_3" use="required">
														<xs:annotation>
															<xs:documentation>Номер версии записи</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="ДатаВерс" type="xs:date" use="required">
														<xs:annotation>
															<xs:documentation>Дата версии записи</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="СвЗаклБрак" type="fnst:СвРегБракТип" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Сведения о государственной регистрации заключения брака</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="СведРастБрак" type="fnst:СвРегБракТип" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Сведения о государственной регистрации расторжения брака</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="СведРегПерИмя" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Сведения о государственной регистрации перемены имени</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:choice>
															<xs:element name="ДатаЗаписДок" type="fnst:ДатаДокТип">
																<xs:annotation>
																	<xs:documentation>Дата регистрации записи по представленным документам (неполная дата)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ДатаЗапис" type="xs:date">
																<xs:annotation>
																	<xs:documentation>Дата составления записи акта о перемене имени</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:choice>
														<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
															<xs:annotation>
																<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация перемены имени</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СостСтатЗаписи" type="fnst:СостСтатЗапТип">
															<xs:annotation>
																<xs:documentation>Сведения о состоянии и статусе записи акта о перемене имени</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СведПерИм" type="fnst:СведСвидетТип" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Сведения о выданном Свидетельстве о перемене имени</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ПрдСвРегПерИмя">
															<xs:annotation>
																<xs:documentation>Передаваемые сведения о государственной регистрации перемены имени</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:choice>
																		<xs:element name="ПрГражданство">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о гражданстве</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Гражданство" type="fnst:ГражданствоТип">
																			<xs:annotation>
																				<xs:documentation>Сведения о гражданстве</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:element name="ФИОДо" type="fnst:ФИОПрТип">
																		<xs:annotation>
																			<xs:documentation>Фамилия, имя, отчество до перемены имени</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="ФИОПосле" type="fnst:ФИОПрТип">
																		<xs:annotation>
																			<xs:documentation>Фамилия, имя, отчество после перемены имени</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:choice>
																		<xs:element name="ПрДатаРожд">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о дате рождения</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="ДатаРождКаленд" type="xs:date">
																			<xs:annotation>
																				<xs:documentation>Дата рождения (календарная дата)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ДатаРождДок" type="fnst:ДатаДокТип">
																			<xs:annotation>
																				<xs:documentation>Дата рождения по представленным документам</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрМестоРожден">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о месте рождения</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="МестоРожден" type="fnst:МестоТип">
																			<xs:annotation>
																				<xs:documentation>Место рождения</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрАдрМЖ">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений об адресе места жительства</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="АдрМЖ" type="fnst:АдрМЖТип">
																			<xs:annotation>
																				<xs:documentation>Адрес места жительства</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрУдЛичнФЛ">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о документе, удостоверяющем личность</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнПрТип">
																			<xs:annotation>
																				<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрСведРегРожд">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о государственной регистрации рождения</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="СведРегРожд" type="fnst:СведДокОснТип">
																			<xs:annotation>
																				<xs:documentation>Сведения о государственной регистрации рождения</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																</xs:sequence>
																<xs:attribute name="СНИЛС" type="fnst:СНИЛСТип"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="СведИспрАГС" type="fnst:СведИзмАГСТип" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Сведения о внесенных исправлениях и изменениях в запись акта о перемене имени</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СведВосстанАГС" type="fnst:СведИзмАГСТип" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения о восстановлении записи акта о перемене имени</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СведАннулирАГС" type="fnst:СведИзмАГСТип" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения об аннулировании записи акта о перемене имени</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="НомерЗапис" type="fnst:string-22" use="required">
														<xs:annotation>
															<xs:documentation>Номер записи акта о перемене имени</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="НомерВерс" type="fnst:string-1_3" use="required">
														<xs:annotation>
															<xs:documentation>Номер версии записи</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="ДатаВерс" type="xs:date" use="required">
														<xs:annotation>
															<xs:documentation>Дата версии записи</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="СведРегОтцов" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Сведения о государственной регистрации установления отцовства</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:choice>
															<xs:element name="ДатаЗаписДок" type="fnst:ДатаДокТип">
																<xs:annotation>
																	<xs:documentation>Дата регистрации записи по представленным документам (неполная дата)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ДатаЗапис" type="xs:date">
																<xs:annotation>
																	<xs:documentation>Дата составления записи акта об установлении отцовства</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:choice>
														<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
															<xs:annotation>
																<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация установления отцовства</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СостСтатЗаписи" type="fnst:СостСтатЗапТип">
															<xs:annotation>
																<xs:documentation>Сведения о состоянии и статусе записи акта об установлении отцовства</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СведОтцов" type="fnst:СведСвидетТип" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Сведения о выданном Свидетельстве об установлении отцовства</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ПрдСвРегОтцов">
															<xs:annotation>
																<xs:documentation>Передаваемые сведения о государственной регистрации установления отцовства</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="СведРебенок">
																		<xs:annotation>
																			<xs:documentation>Сведения о ребенке</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:sequence>
																				<xs:choice>
																					<xs:element name="ПрПол">
																						<xs:annotation>
																							<xs:documentation>Признак отсутствия сведений о половой принадлежности ребенка</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="1"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="Пол">
																						<xs:annotation>
																							<xs:documentation>Пол</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="1"/>
																								<xs:enumeration value="2"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																				</xs:choice>
																				<xs:element name="ФИОДо" type="fnst:ФИОПрТип">
																					<xs:annotation>
																						<xs:documentation>Фамилия, имя, отчество ребенка до установления отцовства</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:element name="ФИОПосле" type="fnst:ФИОПрТип">
																					<xs:annotation>
																						<xs:documentation>Фамилия, имя, отчество ребенка после установления отцовства</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																				<xs:choice>
																					<xs:element name="ПрДатаРожд">
																						<xs:annotation>
																							<xs:documentation>Признак отсутствия сведений о дате рождения ребенка</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="1"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="ДатаРождКаленд" type="xs:date">
																						<xs:annotation>
																							<xs:documentation>Дата рождения (календарная дата)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="ДатаРождДок" type="fnst:ДатаДокТип">
																						<xs:annotation>
																							<xs:documentation>Дата рождения по представленным документам</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:choice>
																				<xs:choice>
																					<xs:element name="ПрМестоРожден">
																						<xs:annotation>
																							<xs:documentation>Признак отсутствия сведений о месте рождения ребенка</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="1"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="МестоРожден" type="fnst:МестоТип">
																						<xs:annotation>
																							<xs:documentation>Место рождения</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:choice>
																				<xs:choice>
																					<xs:element name="ПрСведРегРожд">
																						<xs:annotation>
																							<xs:documentation>Признак отсутствия сведений о государственной регистрации рождения ребенка, в отношении которого установлено отцовство</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="fnst:string-1">
																								<xs:enumeration value="1"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:element>
																					<xs:element name="СведРегРожд" type="fnst:СведДокОснТип">
																						<xs:annotation>
																							<xs:documentation>Сведения о государственной регистрации рождения ребенка, в отношении которого установлено отцовство</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:choice>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:choice>
																		<xs:element name="ПрМать">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о матери   </xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="СведМать" type="fnst:СведРодитТип">
																			<xs:annotation>
																				<xs:documentation>Сведения о матери</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:element name="СведОтец" type="fnst:СведРодитТип">
																		<xs:annotation>
																			<xs:documentation>Сведения о лице, признанном отцом ребенка</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="СведДокОсн" type="fnst:СведДокОснТип">
																		<xs:annotation>
																			<xs:documentation>Сведения о документе, являющемся основанием для установления отцовства</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="СведИспрАГС" type="fnst:СведИзмАГСТип" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Сведения о внесенных исправлениях и изменениях в запись акта об установлении отцовства</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СведВосстанАГС" type="fnst:СведИзмАГСТип" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения о восстановлении записи акта об установлении отцовства</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СведАннулирАГС" type="fnst:СведИзмАГСТип" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения об аннулировании записи акта об установлении отцовства</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="НомерЗапис" type="fnst:string-22" use="required">
														<xs:annotation>
															<xs:documentation>Номер записи акта об установлении отцовства</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="НомерВерс" type="fnst:string-1_3" use="required">
														<xs:annotation>
															<xs:documentation>Номер версии записи</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="ДатаВерс" type="xs:date" use="required">
														<xs:annotation>
															<xs:documentation>Дата версии записи</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element name="СведРегСмерт" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Сведения о государственной регистрации смерти</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:choice>
															<xs:element name="ДатаЗаписДок" type="fnst:ДатаДокТип">
																<xs:annotation>
																	<xs:documentation>Дата регистрации записи по представленным документам (неполная дата)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ДатаЗапис" type="xs:date">
																<xs:annotation>
																	<xs:documentation>Дата составления записи акта о смерти</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:choice>
														<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
															<xs:annotation>
																<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация смерти</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СостСтатЗаписи" type="fnst:СостСтатЗапТип">
															<xs:annotation>
																<xs:documentation>Сведения о состоянии и статусе записи акта о смерти</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СведСмерт" type="fnst:СведСвидетТип" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Сведения о выданном Свидетельстве о смерти</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ПрдСвРегСмерт">
															<xs:annotation>
																<xs:documentation>Передаваемые сведения о государственной регистрации смерти</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:choice>
																		<xs:element name="ПрПол">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о половой принадлежности умершего</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Пол">
																			<xs:annotation>
																				<xs:documentation>Пол</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																					<xs:enumeration value="2"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрГражданство">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о гражданстве</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Гражданство" type="fnst:ГражданствоТип">
																			<xs:annotation>
																				<xs:documentation>Сведения о гражданстве</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:element name="ФИОУмер" type="fnst:ФИОПрТип">
																		<xs:annotation>
																			<xs:documentation>Фамилия, имя, отчество умершего</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:choice>
																		<xs:element name="ПрДатаРожд">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о дате рождения умершего</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="ДатаРождКаленд" type="xs:date">
																			<xs:annotation>
																				<xs:documentation>Дата рождения (календарная дата)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ДатаРождДок" type="fnst:ДатаДокТип">
																			<xs:annotation>
																				<xs:documentation>Дата рождения по представленным документам</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрМестоРожден">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о месте рождения умершего</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="МестоРожден" type="fnst:МестоТип">
																			<xs:annotation>
																				<xs:documentation>Место рождения</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрМЖПосл">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о последнем месте жительства</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="МЖПосл" type="fnst:АдрМЖТип">
																			<xs:annotation>
																				<xs:documentation>Последнее место жительства</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрУдЛичнФЛ">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о документе, удостоверяющем личность</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнПрТип">
																			<xs:annotation>
																				<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрДатаСмерт">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о дате смерти умершего</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="ДатаСмертКаленд" type="xs:date">
																			<xs:annotation>
																				<xs:documentation>Дата смерти (календарная дата)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ДатаСмертДок" type="fnst:ДатаДокТип">
																			<xs:annotation>
																				<xs:documentation>Дата смерти по представленным документам</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрВремяСмерт">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о времени смерти умершего</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="ВремяСмерт" type="xs:time">
																			<xs:annotation>
																				<xs:documentation>Время смерти</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																	<xs:choice>
																		<xs:element name="ПрМестоСмерт">
																			<xs:annotation>
																				<xs:documentation>Признак отсутствия сведений о месте смерти умершего</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="fnst:string-1">
																					<xs:enumeration value="1"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="МестоСмерт" type="fnst:МестоТип">
																			<xs:annotation>
																				<xs:documentation>Место смерти</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:choice>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="СведИспрАГС" type="fnst:СведИзмАГСТип" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Сведения о внесенных исправлениях и изменениях в запись акта о смерти</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СведВосстанАГС" type="fnst:СведИзмАГСТип" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения о восстановлении записи акта о смерти</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СведАннулирАГС" type="fnst:СведИзмАГСТип" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения об аннулировании записи акта о смерти</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="НомерЗапис" type="fnst:string-22" use="required">
														<xs:annotation>
															<xs:documentation>Номер записи акта о смерти</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="НомерВерс" type="fnst:string-1_3" use="required">
														<xs:annotation>
															<xs:documentation>Номер версии записи</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="ДатаВерс" type="xs:date" use="required">
														<xs:annotation>
															<xs:documentation>Дата версии записи</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="ПрСвОтнош" use="required">
							<xs:annotation>
								<xs:documentation>Признак, в отношении кого сформированы сведения в ЕГР ЗАГС</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="fnst:string-1">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="КодОбр" use="required">
							<xs:annotation>
								<xs:documentation>Код обработки поступившего запроса</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="fnst:string-1">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
									<xs:enumeration value="5"/>
									<xs:enumeration value="6"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="changeOrderInfo">
					<xs:annotation>
						<xs:documentation>Информация для изменения статуса заявления в ЛК на ЕПГУ</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="StatusCode">
								<xs:annotation>
									<xs:documentation>Новый статус заявки </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="techCode">
											<xs:annotation>
												<xs:documentation>Код статуса на ЕПГУ</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="comment">
											<xs:annotation>
												<xs:documentation>Комментарий к статусу</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="cancelAllowed" type="xs:boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Возможность отмены</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="sendMessageAllowed" type="xs:boolean" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Возможность отправки текстовых сообщений в ведомство</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдЗапрос" type="fnst:ИдЗапросТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, сформированный запрашивающей стороной</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ИдЕСИА" type="fnst:string-36" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор ЕСИА</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ДатаСвед" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation>Дата формирования сведений</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
